@import '~bootstrap/scss/bootstrap';

$PrimaryColor: #97f72f;
$secondaryColor: #000000;
$hoverBox: #525050;

body{
  background: $secondaryColor;
  color: $PrimaryColor;
  font-family: 'Bad Script', cursive;
}

.box {
  align-items: center1;
  background-color: $secondaryColor;
  border: 5px solid $PrimaryColor;
  color: $PrimaryColor;
  display: flex;
  height: 200px;
  justify-content: center;
  font-family: 'Bad Script', cursive;
}

#gameboard :hover {
  background-color: $PrimaryColor;
  color: $secondaryColor;
}

nav {
  background-color: $PrimaryColor;

> .title {
  color: $secondaryColor;
}

> button{
  background-color: $secondaryColor;
  color: $PrimaryColor;
}
}

#message{
  display: flex;
  justify-content: center;
  margin: 20px 20px 0 20px;
}

.btnOnBlack {
  background-color: $PrimaryColor;
  color: $secondaryColor;
}

.flicker {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  // 20% {
  //   opacity: 100;
  // }
  // 25% {
  //   opacity: 0;
  // }
  // 30% {
  //   opacity: 100;
  // }
  // 35%{
  //
  // }
  // 70% {
  //   opacity: 100;
  // }
  // 75% {
  //   opacity: 0;
  // }
  // 90% {
  //   opacity: 100;
  // }
  0% {opacity:100}
   3% {opacity:0}
   6% {opacity:0}
   7% {opacity:100}
   8% {opacity:0}
   9% {opacity:100}
   70% {opacity:100}
   99% {opacity:0}
   100% {opacity:100}
}

#gameboard > .taken {
    text-align: center;
    align-items: center;
    font-size: 50px;
    color: $PrimaryColor
}

.red-error{
  color: red,
}

.noClick {
  cursor: no-drop;
}

.canClick {
  cursor: pointer;
}

.form-group{
  display: flex;
  justify-content: center;
}

.noBR {
  border-right: 0
}

.noBB {
  border-bottom: 0
}


.noBT {
  border-top: 0
}

.noBL {
  border-left: 0
}
