@import '~bootstrap/scss/bootstrap';

$PrimaryColor: #97f72f;
$secondaryColor: #000000;
$hoverBox: #525050;

body{
  background: $secondaryColor;
  color: $PrimaryColor
}

.box {
  align-items: center1;
  background-color: $secondaryColor;
  border: 5px solid $PrimaryColor;
  color: $PrimaryColor;
  display: flex;
  height: 200px;
  justify-content: center;
  font-family: 'Bad Script', cursive;

}


nav {
  background-color: $PrimaryColor;

> .title {
  color: $secondaryColor;
}

> button{
  background-color: $secondaryColor;
  color: $PrimaryColor;
}
}

#message{
  display: flex;
  justify-content: center;
  margin: 20px 20px 0 20px;
}

.btnOnBlack {
  background-color: $PrimaryColor;
  color: $secondaryColor;
}

.flicker {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }

}

#gameboard > .taken {
    text-align: center;
    align-items: center;
    font-size: 50px;
    color: $PrimaryColor
}

.red-error{
  color: red,
}

.form-group{
  display: flex;
  justify-content: center;
}

.noBR {
  border-right: 0
}

.noBB {
  border-bottom: 0
}

.noBT {
  border-top: 0
}

.noBL {
  border-left: 0
}
